.output-compare {
    @include flex (row, space-around, flex-start);
}

.inputs-compare {
    @include flex (column, center, center);
    margin-bottom: 40px;
}

#select1, #select2 {
    color: $color-white;
    background: $color-light-grey;
    padding: 4px 12px;
    margin: 1.5rem 1rem;
}

.main-compare-wrapper {
    @include flex (column, flex-start, center);
    height: 140vh;
}

.error-div {
    @include flex (column, center, center)
}
#errorImg {
    @include flex (column, center, center);
    height: 150px;
    border-radius: 8px;
    margin: 20px;
}

.loading-img {
    height: 20%; 
    border-radius: 100px;
    box-shadow: 0 0 16px 16px $color-black;
    height: 10rem;
    // margin: ;
}

.character-card {
    margin: 2rem;
}

.output-characters {
    @include flex (row, flex-start, space-between)
}

.compare-holder {
    @include flex (row, center, space-evenly); 
    > div {
        margin: 40px;
    }
}

.differences {
    text-align: center;
}