.output-compare {
    @include flex (row, space-around, flex-start);
}

.inputs-compare {
    @include flex (column, center, center);
    margin-bottom: 40px
}

.main-compare-wrapper {
    @include flex (column, flex-start, center)
}

#errorImg {
    @include flex (column, center, center);
    height: 150px;
    border-radius: 8px;
    margin: 20px;
}

.loading-img {
    height: 20%; 
    border-radius: 100px;
    box-shadow: 0 0 16px 16px $color-black;
    // margin: ;
}

.character-card {
    margin: 2rem;
}

.compare-holder {
    @include flex (row, center, space-evenly); 
    > div {
        margin: 40px;
    }
}