.main-index{
    @include flex (column, center, center);
}

.img-index {
    margin-top: 20px;
    width: 70%;
}

.text-index {
    width: 60%;
    text-align: center;
    margin-top: 3rem;
}

.swapi-link {
    color: $color-yellow;
    ::after {
        color: $color-yellow;
    }
}