@font-face {
    font-family: "Star wars";
    src: url("./../../assets/fonts/Starjedi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

//COLORS 
$color-black: rgb(0, 0, 0);
$color-dark-grey: rgb(10, 10, 10);
$color-light-grey: rgb(84, 84, 84);
$color-yellow: rgb(255, 190, 0);
$color-off-white: rgb(225, 225, 225);
$color-white: rgb(255, 255, 255);