@font-face {
  font-family: "Star wars";
  src: url("../../assets/fonts/Starjedi.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  background-color: rgb(10, 10, 10);
}

.h1 {
  color: rgb(255, 190, 0);
  font-family: "Star Wars", sans-serif;
  text-align: center;
  font-size: 5rem;
  margin: 2rem;
}

main {
  background-color: rgb(10, 10, 10);
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hidden {
  display: none;
}

button {
  color: rgb(255, 255, 255);
  background: rgb(84, 84, 84);
  font-family: "Star Wars";
  padding: 4px 12px;
  margin-top: 8px;
}
button :hover {
  color: rgb(255, 190, 0);
}

.nav-link.active {
  color: rgb(255, 190, 0);
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgb(10, 10, 10);
  padding: 1rem;
  width: 100vw;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Star Wars", sans-serif;
  font-weight: lighter;
}

.nav-li {
  color: white;
}
.nav-li :hover {
  color: rgb(255, 190, 0);
}
.nav-li :active {
  color: rgb(255, 190, 0);
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-index {
  width: 60%;
  text-align: center;
  margin-top: 3rem;
}

.swapi-link {
  color: rgb(255, 190, 0);
}
.swapi-link ::after {
  color: rgb(255, 190, 0);
}

.output-compare {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.inputs-compare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#select1, #select2 {
  color: rgb(255, 255, 255);
  background: rgb(84, 84, 84);
  padding: 4px 12px;
  margin: 1.5rem 1rem;
}

.main-compare-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 145vh;
}

.error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#errorImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 8px;
  margin: 20px;
}

.loading-img {
  height: 20%;
  border-radius: 100px;
  box-shadow: 0 0 16px 16px rgb(0, 0, 0);
  height: 10rem;
}

.second {
  margin-top: 2rem;
}

.character-card {
  margin: 2rem;
}

.output-characters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}

.compare-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
}
.compare-holder > div {
  margin: 40px;
}

.differences {
  text-align: center;
}

.first-movie-text {
  width: 30%;
  margin: 3rem;
}

.play-audio {
  position: absolute;
  top: 12px;
  left: 12px;
}

.main-outro {
  position: relative;
  overflow: hidden;
  color: rgb(255, 190, 0);
  height: 80vh;
}

.container {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  /* push down the the container by half the page */
  margin: 35% 0 0 0;
  position: relative;
  perspective: 450px;
}

.credits {
  font-size: 4vw;
  line-height: 4.5rem;
  text-align: justify;
  position: relative;
  -webkit-animation: scroll 40s linear forwards;
          animation: scroll 40s linear forwards;
}

@-webkit-keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -6500px;
    transform: translateZ(-2500px) rotateX(21deg);
  }
}

@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -6500px;
    transform: translateZ(-2500px) rotateX(21deg);
  }
}
.h2-outro {
  text-align: center;
}/*# sourceMappingURL=style.css.map */